@import "css/variables.less";
@import "css/spip.variables.less";
@import "css/layoutgala/27";

#layoutgala27 > .core(12,6,6,@gridColumnWidth,@gridGutterWidth);

.page{
  color:@blueDark;
}
h1, .h1, .h1-like, h2, .h2, .h2-like, h3, .h3, .h3-like, h4, .h4, .h4-like, h5, .h5, .h5-like, h6, .h6, .h6-like{
  color:@blueDark;
}

h2, .h2, .h2-like{
  font-size:2.5em;
  margin-bottom:.5em;
}
h3, .h3, .h3-like{
  font-size:2em;
  margin-bottom:.2em;
}

header.cartouche h1{
  font-size:5em;
  margin-bottom:.2em;
  line-height:1em;
}
a{
  &:hover,&:active,&:focus{
    background:transparent;
  }
}

.chapo{
  color:@green;
  font-size:2.5em;
  font-weight:200;
  line-height:1em;
  font-variant:smallcaps;
  font-style:italic;
  p{
    margin-bottom:.8em;
  }
}

table.spip{
  tbody{
    tr,tr:nth-child(odd){
      td,th{
        border:1px solid @green;
        vertical-align:inherit;
        padding:1em;
        p:last-child{
          margin-bottom:0;
        }
      }
      td:first-child{
        border:1px solid @green;
        background:@green;
        color:@white;
        width:33%;
        h3{
          color:@blueDark;
        }
      }
    }
    tr:hover > th,tr:hover > td{
      background:transparent;
    }
    tr:hover{
      td:first-child{
        background:@green;
        color:@white;
        h3{
          color:@blueDark;
        }
      }
    }
  }
  tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th{
    background:transparent;
    &:hover{
      background:transparent;
    }
  }
}
.label{
  color:@green;
  background:none;
  padding:0 5px 0 0;
  font-size:1em;
  line-height:1em;
}

.media, .media-body{
  overflow:visible;
}
.header{
  #logo_site_spip{
    margin-top:40px;
    .spip_logos{
      margin:0;
    }
  }
}
.nav > li > a:hover, .nav > li > a:focus{
  background:none;
}
.navbar-inverse{
  .nav{
    .active > a,
    .active > a:hover,
    .active > a:focus{
      color:@green;
      font-weight:normal;
      background:none;
    }
  }
} 
#nav{
  .navbar-inner{
    position:relative;
    .navbar-right{
      position:absolute;
      right:0;
      top:0;
      width:auto;
      padding-right:0;
      ul{
        margin:0;
        li{
          a{
            border:none;
          }
        }
      }
    }
  }
}
#nav_top,#nav_topsub{
  margin-top:50px;
  .navbar-inner{
    background:none;
    border:none;
    font-weight:bold;
    text-transform:uppercase;
    font-size:1.1em;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    li{
      padding:9px 7px 1px 7px;
      font-size:1.3em;
      a{
        color:@blueDark;
        padding:0 0 1px 0;
      }
    }
    li.active{
      a{
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
         box-shadow:none;
         border-bottom:5px solid @green;
         background:none;
      }
    }
  }
}

#nav_topsub{
  margin-top:10px;
  .navbar-inner{
    font-weight:normal;
    padding:0;
    font-size:1em;
    text-align:right;
    ul{
      float:right;
      li{
        display:inline-block;
        float:none;
        font-size:1.1em;
        padding:0;
        a{
          border-right: 1px solid @blueDark;
          padding:0;
          padding:0 9px;
        }
      }
      li:last-child{
        a{
          border-right:none;
        }
      }
      li.active{
        a{
          font-weight:normal;
          margin-right:5px;
        }
      }
    }
  }
}
.navbar-static-top{
  background:@blueDark;
  margin-bottom:25px;
}

.navbar-inverse .navbar-inner{
    background-color:@blueDark;
    background-image:none;
    border:0;
    -webkit-box-shadow:0;
    -moz-box-shadow:0;
    box-shadow:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
  }
  
  .navbar-inverse .brand, .navbar-inverse .nav > li{
    padding:9px 0 9px;
  }
  
  .navbar-inverse .brand, .navbar-inverse .nav > li > a{
    color:@white;
    border-right: 1px solid @white;
    padding:0;
    padding:0 15px;
  }
.itembox{
  background:@green url(img/cart.png) no-repeat right 1em center;
  height:120px;
  color:@white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 1em 1em 1em;
  line-height: 1em;
  p{
    margin-bottom:.5em;
    text-transform:uppercase;
    font-size:1.3em;
  }
  .items{
    font-weight:bold;
  }
}
.hero-unit{
  border:2px solid @green;
  padding:.5em;
  margin-bottom:1em;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style:italic;
  font-size:2.3em;
  color:@green;
}

.hero-unit.span2{
  line-height:1.1em;
  padding:.1em;
  small{
    display:block;
    line-height:1em;
  }
}

.filters{
  padding-bottom:.8em;
  ul{
    list-style-type:none;
    margin:0;
    li{
      font-weight:bold;
      display:inline-block;
      padding:0 .5em;
      border-right:2px solid @blueDark;
      a{
        color:@blueDark;
      }
      strong.on{
        border-bottom:3px solid @green;
      }
    }
    li:first-child,li:last-child{
      border:none;
    }
    li:first-child{
      padding-left:0;
    }
  }
}
.headline_media{
  position:relative;
  .h3-like{
    font-weight:normal;
    display:block;
    position:absolute;
    text-align:center;
    width: 100%;
    top: 50%;
    margin-top:-.5em;
    a{
      color:@white;
    }
  }
}
.liste_medias{
  > .span4{
    margin-bottom:20px;
  }
  .media{
    cursor:pointer;
    position:relative;
    .incitate{
      display:none;
      position:absolute;
      color:@green;
      width:100%;
      text-align:center;
      span{
        border:2px solid @green;
        padding:.8em 1.5em;
        display:inline-block;
      }
      
    }
    .incitate_click{
      span{
         background:@white;
         border-bottom:0;
         a{
           display:block;
         }
      }
      bottom:0;
    }
    .incitate_drag{
      top:20px;
    }
    .prix{
      float:right;
      vertical-align:top;
      .price{
        font-weight:bold;
        font-size:1.7em;
        line-height:1.5em;
      }
    }
    .badge_thumbnail{
      position:absolute;
    }
    .badge_thumbnail_3,.badge_thumbnail_15,.badge_thumbnail_2{
      top:-20px;
      right:20px;
    }
    .badge_thumbnail_4{
      bottom:20px;
      right:20px;
    }
    .badge_thumbnail_7{
      bottom:-20px;
      left:20px;
    }
    .badge_thumbnail_14,.badge_thumbnail_6{
      width:100%;
      top:-20px;
      text-align:center;
    }
    .mots{
      float:left;
    }
  }
  .media:after{
    content:'';
    display:block;
    clear:both;
  }
  .media:hover{
    .badge_thumbnail{
      display:none;
    }
    .incitate{
      display:block;
    }
  }
}

.footer{
  margin-top:1em;
  background-color:@blueDark;
  padding-bottom:120px;
  border:none;
  color:#fff;
  font-size:1.4em;
  line-height:1.6em;
  strong{
    color:@green;
  }
  .social-links{
    color:#fff;
    font-size:.8em;
    line-height:1em;
    margin-top:1.5em;
    a{
      color:@white;
    }
    .icon-facebook{
      background-position:-8px 0;
      width:14px;
    }
  }
}

.icon-twitter{
  background-image:url(img/twitter_share_us.png);
  background-position:0 0;
  width:22px;
  height:20px;
  line-height:20px;
}
.icon-facebook{
  background-image:url(img/facebook.png);
  background-position:0 0;
  width:22px;
  height:20px;
  line-height:20px;
}
    
#timeline{
  width:100%;
  position:fixed;
  z-index:100;
   bottom:-150px;
   h2, .h2, .h2-like{
    font-size:1.5em;
  }
  .timeline_video{
    .head_timeline{
      background-color:@green;
      float:none;
      border:none;
      margin:0 auto;
      border-radius: 8px 8px 0 0;
      padding:1em 1em 0 1em;
      text-align:center;
      .h2-like{
        margin-bottom:0;
      }
      a{
        color:@blueDark;
        &:hover{
          background:none;
        }
      }
    }
    .timeline_content{
      .timeline_line{
        background-color:@green;
        overflow:hidden;
        .timeline_next{
          position:absolute;
          top:0;
          right:0;
          padding:.5em;
          background-color:@green;
          a{
            display:block;
          };
        }
        .timeline_container{
          padding:0 1em;
          .timeline_list{
            position:relative;
            margin:1em 0 .5em 0;
            padding-bottom:.5em;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap;
            width:100%;
            .timeline_drag{
              width:160px;
              padding:2px;
              height:94px;
              border:3px dashed @white;
              -webkit-box-sizing:border-box;
              -moz-box-sizing:border-box;
              box-sizing:border-box;
              margin-right:.5em;
              display:inline-block;
              vertical-align:middle;
              .headline_media{
                position:relative;
                min-height:84px;
                .h3-like{
                  color:#fff;
                  font-size:.9em;
                }
                img{
                  vertical-align:baseline;
                }
                a.remove_panier{
                  color:@white;
                  position:absolute;
                  top:2px;
                  right:4px;
                  display:none;
                }
              }
              .headline_media:hover{
                a.remove_panier{
                  display:block;
                }
              }
            }
            .timeline_drag.empty{
                .headline_media{
                  .h3-like{
                    font-weight:bold;
                    font-size:1em;
                  }
                }
              }
          }
        }
      }
      .timeline_bottom{
        clear:both;
        width:100%;
        background:@blueDark;
        overflow:auto;
        .timeline_menu{
          width:50%;
          overflow:auto;
          .timeline_menu_item{
            width:33%;
            float:left;
            color:@white;
            padding:.5em;
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
            .numero{
              display:block;
              float:left;
              font-size:2em;
              background:@white;
              -webkit-border-radius:1em;
              -moz-border-radius:1em;
              border-radius:1em;
              width:1.4em;
              height:1.4em;
              text-align:center;
              line-height:1.4em;
              font-weight:bold;
              margin-right:.5em;
              color:@blueDark;
            }
            a{
              color:@white;
            }
          }
          .timeline_menu_item.active{
            background:@green;
            color:@blueDark;
            a{
              color:@blueDark;
            }
          }
        }
      }
    }
  }
}
#timeline.active{
  bottom:0;
}

#media_visible{
  margin-top:-130px;
  .media_visible_nav{
    float:none;
    text-align:center;
    .prev_preview,.next_preview,.close_preview{
      display:inline-block;
      background-color:@blueDark;
      border:1px solid @green;
      padding:.8em 1.5em;
      margin-bottom:-1px;
    }
    .close_preview{
      border-bottom:1px solid @blueDark;
      border-top:1px solid @green;
    }
    .prev_preview{
      border-right:none;
    }
    .next_preview{
      border-left:none;
    }
  }
  .borderbottom{
    border-bottom:1px solid @green;
  }
  .media_visible{
    background:@blueDark;
    color:@white;
    padding:2%;
    overflow:auto;
    margin-bottom:2em;
    border:1px solid @green;
    border-top:none;
    h3{
      color:@white;
      text-align:center;
      .prix{
        color:@green;
        font-size:.6em;
        font-weight:normal;
        .price{
          font-size:1.4em;
          font-weight:bold;
        }
      }
    }
    .media_document{
      width:48%;
      float:left;
    }
    .media_infos{
      padding:1em 0;
      border-style: solid;
      border-width: 5px 0px 0px;
      -moz-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      -webkit-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      -o-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 fill repeat;
      width:48%;
      float:right;
      .media_infos_technical{
        width:50%;
        float:left;
      }
      .media_add_to_timeline{
        width:50%;
        float:right;
        text-align:right;
      }
      .media_texte_info{
        clear:both;
      }
    }
  }
}

.page_contact .main{
  margin-top:2.66em;
}
.formulaire_spip{
  padding:0;
  border:1px solid @green;
  padding:1em;
  margin:0 -1em 3em -1em;
  label{
    font-weight:bold;
    font-size:2em;
    font-variant:small-caps;
  }
  h2{
    font-size:2.5em;
  }
  input.text,textarea{
    background:@blueDark;
    color:@white;
    width:100%;
    padding:1em .5em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom:6px;
  }
  .editer{
    padding-right:.5em;
    padding-left:.5em;
    margin-right:-.5em;
    margin-left:-.5em;
  }
  .boutons{
    background:none;
    border:none;
    button{
      border:none;
      background:transparent;
    }
  }
}

.formulaire_contact{
  margin:0 0 3em -1em;
  label{
    strong{
      display:none;
    }
  }
  .boutons{
    padding:0 1em 1em 1em;
  }
}

.formulaire_abomailman{
  background-color:@green;
  margin:0 0 3em 0;
}

.social_contact{
  .fb{
    float:left;
    max-width:48%;
  }
  .twitter{
    float:right;
    max-width:48%;
  }
}
.ui-effects-transfer {
  border: 3px dotted @blueDark;
  z-index:2500;
  background:@blueDark;
  background-color:rgba(red(@blueDark), green(@blueDark), blue(@blueDark), .6);
}

.ui-sortable-helper{
  cursor:pointer;
}
.ui-state-highlight{
  border: 3px dotted @blueDark;
  background:@blueDark;
  background-color:rgba(red(@blueDark), green(@blueDark), blue(@blueDark), .9);
  background-image:none;
}
.spip-admin-float{
  left:10%;
  a:hover{
    background-color:#666;
  }
}
