@import "css/variables.less";
@import "css/mixins.less";
@import "css/spip.variables.less";
@import "css/layoutgala/27";

#layoutgala27 > .core(12,6,6,@gridColumnWidth,@gridGutterWidth);

.page{
  color:@blueDark;
}
h1, .h1, .h1-like, h2, .h2, .h2-like, h3, .h3, .h3-like, h4, .h4, .h4-like, h5, .h5, .h5-like, h6, .h6, .h6-like{
  color:@blueDark;
  text-transform:uppercase;
}

h2, .h2, .h2-like{
  font-size:2.5em;
  margin-bottom:.5em;
}
h3, .h3, .h3-like{
  font-size:2em;
  margin-bottom:.2em;
}

header.cartouche h1,.rubrique_blog h1{
  font-size:5em;
  margin-bottom:.2em;
  line-height:1em;
}
a{
  &:hover,&:active,&:focus{
    background:transparent;
  }
}

.chapo{
  color:@green;
  font-size:2.5em;
  font-weight:200;
  line-height:1em;
  text-transform:uppercase;
  font-style:italic;
  p{
    margin-bottom:.8em;
  }
}

.spip_documents_center{
  margin-right:-2%;
  margin-left:-2%;
  img{
    width:104%;
    max-width:104%;
  }
}

.spip_documents_right{
  margin-right:-2%;
  max-width:55%;
}

.spip_documents_left{
  margin-left:-2%;
  max-width:55%;
}
table.spip{
  margin-bottom:.3em;
  tbody{
    tr,tr:nth-child(odd){
      td,th{
        border:1px solid @green;
        vertical-align:top;
        padding:1em;
        p:last-child{
          margin-bottom:0;
        }
      }
      td:first-child{
        border:1px solid @green;
        background:@green;
        color:@white;
        width:33%;
        h3{
          color:@blueDark;
        }
      }
    }
    tr:hover > th,tr:hover > td{
      background:transparent;
    }
    tr:hover,{
      td:first-child{
        background:@green;
        color:@white;
        h3{
          color:@blueDark;
        }
      }
    }
    tr:nth-child(odd){
      &:hover{
        td:first-child{
          background:@green;
          color:@white;
          h3{
            color:@blueDark;
          }
        }
      }
    }
  }
  tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th{
    background:transparent;
    &:hover{
      background:transparent;
    }
  }
}

table.spip + h3{
  margin-top:.8em;
}

table.spip h3 + p{
  font-size:1.5em;
}
.label{
  color:@green;
  background:none;
  padding:0 5px 0 0;
  font-size:1em;
  line-height:1em;
  text-transform:uppercase;
}

.media, .media-body{
  overflow:visible;
}
.header{
  width:100%;
  background:@white;
  #logo_site_spip{
    margin-top:20px;
    margin-left:.5em;
    .spip_logos{
      margin:0;
    }
  }
}
.nav > li > a:hover, .nav > li > a:focus{
  background:none;
}

#nav{
  .navbar-inner{
    position:relative;
    .navbar-right{
      position:absolute;
      right:0;
      top:0;
      width:auto;
      padding-right:0;
      ul{
        margin:0;
        li{
          a{
            border:none;
          }
        }
      }
    }
  }
}
#nav_top,#nav_topsub{
  margin-top:50px;
  .navbar-inner{
    background:none;
    border:none;
    font-weight:bold;
    text-transform:uppercase;
    font-size:1.1em;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    li{
      padding:9px 7px 1px 7px;
      font-size:1.3em;
      a{
        color:@blueDark;
        padding:0 0 1px 0;
        &:hover{
          .box-shadow(none);
           border-bottom:5px solid @green;
           background:none;
        }
      }
    }
    li.active{
      a{
         .box-shadow(none);
         border-bottom:5px solid @green;
         background:none;
      }
    }
  }
}

#nav_topsub{
  margin-top:10px;
  margin-right:-20%;
  .navbar-inner{
    font-weight:normal;
    padding:0;
    font-size:1em;
    text-align:right;
    ul{
      float:right;
      li{
        display:inline-block;
        float:none;
        font-size:1.1em;
        padding:0;
        a{
          border-right: 1px solid @blueDark;
          padding:0;
          padding:0 9px;
        }
      }
      li:last-child{
        a{
          border-right:none;
        }
      }
      li.active{
        a{
          font-weight:normal;
          margin-right:5px;
        }
      }
    }
  }
}
.navbar-static-top{
  background:@blueDark;
  margin-bottom:25px;
}

.navbar-inverse{
  min-height:43px;
  .navbar-inner{
    background-color:@blueDark;
    background-image:none;
    border:none;
    .box-shadow(0);
    .border-radius(0)
  }
  .nav{
    li > a:hover,
    .active > a,
    .active > a:hover,
    .active > a:focus{
      color:@green;
      font-weight:normal;
      background:none;
    }
  }
  .brand, .nav > li{
    padding:9px 0 9px;
  }
  
  .brand, .nav > li > a{
    color:@white;
    border-right: 1px solid @white;
    padding:0;
    padding:0 15px;
  }
}
.itembox{
  background:@green url(img/cart.png) no-repeat right 1em center;
  height:120px;
  color:@white;
  .box-sizing(border-box);
  padding: 2em 1em 1em 1em;
  line-height: 1em;
  p{
    margin-bottom:.5em;
    text-transform:uppercase;
    font-size:1.3em;
  }
  .items{
    font-weight:bold;
  }
}
.hero-unit{
  border:2px solid @green;
  padding:.3em;
  margin-bottom:1em;
  background:none;
  .border-radius(0);
  .box-sizing(border-box);
  font-style:italic;
  font-size:2.3em;
  height:inherit;
  overflow:hidden;
  color:@green;
}

.hero-unit.span2{
  line-height:1.1em;
  small{
    display:block;
    line-height:1em;
  }
}

.filters{
  padding-bottom:.8em;
  ul{
    list-style-type:none;
    margin:0;
    li{
      font-weight:bold;
      display:inline-block;
      padding:0 .5em;
      border-right:2px solid @blueDark;
      a,strong.on{
        text-transform:uppercase;
        color:@blueDark;
      }
      a:hover,strong.on{
        border-bottom:3px solid @green;
      }
    }
    li:first-child,li:last-child{
      border:none;
    }
    li:first-child{
      padding-left:0;
    }
  }
}

.headline_media{
  *{
    cursor:pointer;
  }
  position:relative;
  .h3-like{
    font-weight:normal;
    display:block;
    position:absolute;
    text-align:center;
    width: 100%;
    top: 50%;
    margin-top:-.5em;
    font-weight:bold;
    a{
      color:@white;
    }
  }
}

.ui-sortable-helper{
  cursor:move;
  *{
    cursor:move;
  }
}

.liste_medias{
  > .span4{
    margin-bottom:20px;
  }
  .media{
    cursor:pointer;
    position:relative;
    .incitate{
      font-weight:bold;
      font-size:1.2em;
      display:none;
      position:absolute;
      color:@green;
      width:100%;
      text-align:center;
      .box-sizing(border-box);
      span{
        padding:1.1em 15%;
        display:inline-block;
      }
      
    }
    .incitate_click{
      span{
         background:@white;
         border:2px solid @green;
         border-bottom:0;
         padding:1em 2em 1.3em 2em;
         a{
           display:block;
         }
      }
      bottom:0;
    }
    .incitate_drag{
      border:2px solid @green;
      width:88%;
      margin:0 6%;
      top:20px;
      border:2px solid @green;
    }
    .prix{
      float:right;
      vertical-align:top;
      .price{
        font-weight:bold;
        font-size:1.7em;
        line-height:1em;
      }
    }
    .badge_thumbnail{
      position:absolute;
    }
    .badge_thumbnail_3,.badge_thumbnail_15,.badge_thumbnail_2{
      top:-20px;
      right:20px;
    }
    .badge_thumbnail_4{
      bottom:20px;
      right:20px;
    }
    .badge_thumbnail_7{
      bottom:-20px;
      left:20px;
    }
    .badge_thumbnail_14,.badge_thumbnail_6{
      width:100%;
      top:-20px;
      text-align:center;
    }
    .mots{
      float:left;
    }
  }
  .media:after{
    content:'';
    display:block;
    clear:both;
  }
  .media:hover{
    .badge_thumbnail,.h3-like{
      display:none;
    }
    .incitate{
      display:block;
    }
  }
}
.media_is_visible{
  .headline_media{
    .h3-like{
      display:none;
    }
  }
}
.footer{
  margin-top:1em;
  background-color:@blueDark;
  border:none;
  color:@white;
  font-size:1.4em;
  line-height:1.6em;
  strong{
    color:@green;
  }
  .social-links{
    color:@white;
    font-size:.8em;
    line-height:1em;
    margin-top:1.5em;
    a{
      color:@white;
    }
    .icon-facebook{
      background-position:-8px 0;
      width:14px;
    }
  }
}

.page_sommaire .footer{
  padding-bottom:120px;
}

.rubrique_blog{
  .background_archive{
    width:50%;
    position:fixed;
    height:100%;
    right:0;
    top:0;
    z-index:-1;
    background:@green;
  }
  h1{
    text-align:center;
  }
  .navbar-inverse{
    margin-bottom:0;
  }
  .blog_archive,.blog_current{
    padding:3em 2em;
    .box-sizing(border-box);
    .chapo{
      text-transform:uppercase;
      text-align:center;
    }
    .publication{
      text-transform:uppercase;
    }
    .read_more{
      text-align:right;
      text-transform:uppercase;
      a,a:hover{
        color:@blueDark;
      }
      .icon-chevron-right{
        vertical-align:baseline;
      }
    }
    .liste-items{
      .publication{
        display:block;
      }
      .item{
        border:3px solid @green;
        margin-bottom:2em;
        padding:2em;
        .logo{
          margin:0 -1em 1.2em -1em;
          .spip_logos{
            float:none;
            width:100%;
          }
        }
      }
    }
  }
  .blog_archive{
    margin-left:0;
    background:@green;
    a{
      color:@white;
    }
    .chapo{
      color:@white;
    }
    .liste-items{
      .item{
        border:3px solid @white;
      }
    }
  }
  .footer{
    margin-top:0;
  }
}
.article_blog{
  h1{
    color:@green;
  }
  .surtitre{
    a,a:hover{color:@blueDark;}
    .icon-chevron-left{
      vertical-align:baseline;
    }
  }
  .cartouche h1+.publication{
    margin-top:1em;
  }
  .logo{
    margin:0 -3em 3em -3em;
    .spip_logos{
      float:none;
      width:100%;
      margin:0;
    }
  }
}
.icon-twitter{
  background-image:url(img/twitter_share_us.png);
  background-position:0 0;
  width:22px;
  height:20px;
  line-height:20px;
}
.icon-facebook{
  background-image:url(img/facebook.png);
  background-position:0 0;
  width:22px;
  height:20px;
  line-height:20px;
}
    
#timeline{
  width:100%;
  position:fixed;
  z-index:100;
  bottom:0;
   h2, .h2, .h2-like{
    font-size:1.5em;
  }
  .timeline_video{
    .head_timeline{
      background-color:@green;
      float:none;
      border:none;
      margin:0 auto;
      font-size:.9em;
      .border-top-radius(10px);
      padding:1em 1em 0 1em;
      text-align:center;
      .h2-like{
        margin-bottom:0;
      }
      a{
        color:@blueDark;
        &:hover{
          background:none;
        }
      }
    }
    .timeline_content{
      .timeline_line{
        background-color:@green;
        overflow:hidden;
        .preview_video{
          background:@blueDark;
          margin:10px 0 0 0;
          position:relative;
          height:400px;
          position:relative;
          .close_preview_on{
            position:absolute;
            top:0;
            right:10%;
            display:block;
            text-transform:uppercase;
            color:@white;
            padding:10px;
            background:@green;
            font-weight:bold;
            font-size:1.2em;
          }
        }
        .timeline_next{
          position:absolute;
          top:0;
          right:0;
          padding:.9em .5em 0 0;
          background-color:@green;
          width:135px;
          height:85px;
          a{
            display:block;
          };
        }
        #timeline_container_step1{
          height:110px;
          position:relative;
        }
        .timeline_container{
          padding:0 1em;
          .time_line_intro{
            float:left;
            width:25%;
            padding:2em 3% 2em 2%;
            .box-sizing(border-box);
            h2{
              font-size:3em;
            }
            a{
              color:@blueDark;
              text-decoration:underline;
              padding-bottom:.2em;
            }
          }
          .formulaire_spip{
             width:75%;
             .box-sizing(border-box);
             float:left;
             clear:none;
             padding:2em 0 0 0;
             margin:0;
             position:relative;
             .error{
               background:none;
               border:none;
               .text-shadow(0);
             }
             .date,.venue,.boutons{
               float:left;
             }
             .date,.venue{
               width:50%;
               .box-sizing(border-box);
               h3{
                 color:@white;
               }
             }
             .date{
               width:30%;
             }
             .boutons{
               .box-sizing(border-box);
               text-align:center;
               margin:0;
               position:absolute;
               bottom:0;
               right:0;
               button{
                 width:135px;
                 height:85px;
                 max-width:135px;
               }
             }
             .editer{
               clear:both;
               overflow:auto;
               label{
                 float:left;
                 width:35%;
                 font-size: 1.1em;
                  line-height: 1.5em;
                  vertical-align: middle;
               }
               input.text{
                 float:right;
                 background:@white;
                 color:@blueDark;
                 width:64%;
               }
               input[type="radio"]{
                 margin:0;
                 vertical-align:baseline;
               }
               div.choix{
                 float:left;
                 .box-sizing(border-box);
                 width:33%;
                 label{
                   font-size:1em;
                   float:none;
                   display:inline;
                   width:inherit;
                 }
               }
               div.choix:nth-child(4),div.choix:nth-child(7){
                 clear:both;
               }
               div.choix:last-child{
                 width:100%;
                 input:disabled{
                   opacity:.6
                 }
               }
             }
           }
          #calendar{
            float:left;
            .ui-widget{
              width:100%;
              table{
                td{
                  line-height:1.7em;
                }
              }
            }
          }
          .timeline_before{
            position: absolute;
            left: 5px;
            top: 30px;
            z-index: 1;
            display:none;
            cursor:pointer;
          }
          .timeline_after{
            position: absolute;
            right: 145px;
            top: 30px;
            z-index: 1;
            display:none;
            cursor:pointer;
          }
          .timeline_list{
            position:absolute;
            overflow:hidden;
            margin:1em 0 .5em 0;
            padding-bottom:.5em;
            white-space:nowrap;
            .timeline_drag{
              background:transparent url('img/border-dotted_timeline.png') 0 0 no-repeat;
              width:137px;
              padding:0px;
              height:80px;
              border:none;
              .box-sizing(border-box);
              margin-right:.5em;
              display:inline-block;
              vertical-align:middle;
              .headline_media{
                position:relative;
                width:131px;
                margin:3px;
                height:74px;
                .h3-like{
                  color:@white;
                  font-size:.9em;
                  margin:-.5em 0 0 0;
                  font-weight:normal;
                }
                img{
                  vertical-align:baseline;
                }
                .move_right_left{
                  position:absolute;
                  top:2px;
                  left:2%;
                  display:none;
                  width: 90%;
                  padding: 2px;
                  border: 2px solid @green;
                  a{
                    color:@green;
                    display:block;
                    float:left;
                  }
                  a.moveright{
                    float:right;
                  }
                }
                a.remove_panier{
                  color:@green;
                  position:absolute;
                  bottom:2px;
                  left:2%;
                  display:none;
                  width: 90%;
                  padding: 2px;
                  text-align: center;
                  border: 2px solid @green;
                }
              }
            }
            .timeline_drag:not(.empty){
              .headline_media:hover{
                a.remove_panier,.move_right_left{
                  display:block;
                }
                .h3-like{
                  display:none;
                }
              }
            }
            .timeline_drag.ui-state-highlight{
              -webkit-animation: blink 1s linear infinite;
              -moz-animation: blink 1s linear infinite;
              animation: blink 1s linear infinite;
              .headline_media{
                  .h3-like{
                    -webkit-animation: blinktext 0.8s linear infinite;
                    -moz-animation: blinktext 0.8s linear infinite;
                    animation: blinktext 0.8s linear infinite;
                  }
               }
            }
            .timeline_drag.empty{
                .headline_media{
                  .h3-like{
                    font-weight:bold;
                    font-size:1em;
                  }
                }
              }
          }
        }
      }
      .timeline_bottom{
        clear:both;
        width:100%;
        background:@blueDark;
        overflow:auto;
        .info_added_price{
          position:absolute;
          bottom:3em;
          right:8%;
          text-transform:uppercase;
          z-index:1;
          display:none;
          .content_added_price{
            font-size:2em;
            line-height:1.1em;
            color:@green;
            background:@blueDark;
            border:2px solid @green;
            padding:.4em;
            max-width:200px;
            img{
              margin:.3em 0 .1em
            }
            small{
              font-size:.6em;
              a{
                text-decoration:underline;
              }
            }
          }
          .triangle_added_price{
            float: right;
            margin-right: 1.5em;
            border:2px solid @green;
            margin-top:-53px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 50px 0;
            border-color: transparent @blueDark transparent transparent;
          }
        }
        .timeline_menu{
          width:50%;
          float:left;
          overflow:auto;
          .timeline_menu_item{
            width:33%;
            float:left;
            color:@white;
            padding:.5em .3em;
            .box-sizing(border-box);
            .numero{
              display:block;
              float:left;
              font-size:2em;
              background:@white;
              text-indent:.15em;
              .border-radius(1em);
              width:1.4em;
              height:1.4em;
              text-align:center;
              line-height:1.4em;
              font-weight:bold;
              margin-right:.3em;
              color:@blueDark;
            }
            a{
              color:@white;
            }
          }
          .timeline_menu_item.active{
            background:@green;
            color:@blueDark;
            a{
              color:@blueDark;
            }
          }
        }
      }
      .timeline_show{
        width:50%;
        float:left;
        .show{
          width:28%;
          float:left;
          background:@white;
          padding: .4em 0;
          .box-sizing(border-box);
          margin: .2em 0 0 0;
          font-size:2em;
          color:@green;
          text-align:center;
          font-weight:bold;
        }
        .show_infos{
          -moz-border-image-slice: 7 7 8 7;
          -webkit-border-image-slice: 7 7 8 7;
          border-image-slice: 7 7 8 7;
          -moz-border-image-width: 0px 7px 0px 7px;
          -webkit-border-image-width: 0px 7px 0px 7px;
          border-image-width: 0px 7px 0px 7px;
          -moz-border-image-outset:0px 3px 0px 4px;
          -webkit-border-image-outset: 0px 3px 0px 4px;
          border-image-outset: 0px 3px 0px 4px;
          -moz-border-image-repeat: stretch repeat;
          -webkit-border-image-repeat: stretch repeat;
          border-image-repeat: stretch repeat;
          -moz-border-image-source: url(img/border_ticket.png);
          -webkit-border-image-source: url(img/border_ticket.png);
          -o-border-image-source: url(img/border_ticket.png);
          border-image-source: url(img/border_ticket.png);
          width:57%;
          float:left;
          background:@white;
          margin:.4em 0 0 0;
          height:48px;
          color:@blueDark;
        }
        .show_duration,.show_costs{
          float:left;
          width:50%;
          .box-sizing(border-box);
          height:3em;
          padding-left:.2em;
          font-weight:bold;
          a,a:focus, a:hover, a:active{
            color:@blueDark;
            text-decoration: underline;
          }
          .show_text,.show_duree,.show_prix{
            width:55%;
            float:left;
            .box-sizing(border-box);
          }
          .show_text{
            width:45%;
            padding-top:.3em;
            line-height:1em;
            small{
              font-size:80%;
            }
          }
          .show_duree,.show_prix{
            font-size:2.5em;
            padding:.5em;
            color:@blueDark;
            padding: .25em .25em 0 0;
            text-align: right;
            white-space:nowrap;
          }
        }
        .go_to_buy{
          color:@green;
          width:75%;
          float:right;
          overflow:hidden;
          white-space:nowrap;
          height:1em;
          padding:.1em 0 0 0;
          font-size:3em;
          max-width:8em;
          font-weight:bold;
          line-height:1em;
        }
        .show_buy{
          float:right;
          width:13%;
          padding:0.5em .5em 0 0;
          .box-sizing(border-box);
        }
      }
    }
  }
  .formulaire_spip{
    border:none;
    padding:0em;
    margin:0;
    background:none;
  }
}
#timeline.active{
  .timeline_content{
    height:auto;
  }
}

#media_visible{
  margin-top:-130px;
  .media_visible_nav{
    float:none;
    text-align:center;
    .prev_preview,.next_preview,.close_preview{
      display:inline-block;
      background-color:@blueDark;
      border:1px solid @green;
      padding:.8em 1.5em;
      margin-bottom:-1px;
    }
    .close_preview{
      border-bottom:1px solid @blueDark;
      border-top:1px solid @green;
    }
    .prev_preview{
      border-right:none;
    }
    .next_preview{
      border-left:none;
    }
  }
  .borderbottom{
    border-bottom:1px solid @green;
  }
  .media_visible{
    background:@blueDark;
    color:@white;
    padding:2%;
    overflow:auto;
    margin:0 -3% 2em -3%;
    border:1px solid @green;
    border-top:none;
    width:106%;
    .box-sizing(border-box);
    h3{
      font-size:2.8em;
      color:@white;
      text-align:center;
      .prix{
        text-transform:none;
        color:@green;
        font-size:.5em;
        font-weight:normal;
        .price{
          font-size:1.6em;
          font-weight:bold;
        }
      }
    }
    .media_document{
      width:48%;
      float:left;
    }
    .media_infos{
      padding:1em 0;
      width:48%;
      float:right;
      border-style: solid;
      border-width: 5px 0px 0px;
      -moz-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      -webkit-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      -o-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
      border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 fill repeat;
      .media_read_pricing,.media_more_in{
        border-style: solid;
        border-width: 5px 0px 0px;
        -moz-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
        -webkit-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
        -o-border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 repeat;
        border-image: url(img/a_la_carte_border_dotted.png) 5 4 0 0 fill repeat;
        padding:.5em 0;
        text-transform:uppercase;
      }
      .media_infos_technical{
        width:50%;
        float:left;
        text-transform:uppercase;
      }
      .media_add_to_timeline{
        width:35%;
        float:right;
        text-align:right;
      }
      .media_texte_info{
        clear:both;
      }
      .media_read_pricing{
        text-align:right;
        a{
          color:@white;
        }
      }
    }
  }
}

.page_contact .main{
  margin-top:2.66em;
}

.formulaire_spip{
  padding:0;
  border:2px solid @green;
  padding:1em;
  margin:0 -1em 3em -1em;
  label{
    font-weight:bold;
    font-size:2em;
    text-transform:uppercase;
    line-height:1.3em;
  }
  .choix{
    label{
      text-transform:none;
      font-size:1.3em;
    }
  }
  h2{
    font-size:2.5em;
  }
  input.text,textarea{
    background:@blueDark;
    color:@white;
    width:100%;
    padding:1em .5em;
    .box-sizing(border-box);
    .border-radius(0);
    border:none;
    margin-bottom:6px;
  }
  .editer{
    padding-right:.5em;
    padding-left:.5em;
    margin-right:-.5em;
    margin-left:-.5em;
  }
  .boutons{
    background:none;
    border:none;
    button{
      max-width:48%;
      border:none;
      background:transparent;
    }
  }
}

.formulaire_contact{
  margin:0 0 3em -1em;
  label{
    strong{
      display:none;
    }
  }
  .boutons{
    padding:0 1em 1em 1em;
  }
}

.formulaire_abomailman{
  background-color:@green;
  margin:0 0 3em 0;
  .boutons{
    padding:0 1em 1em 1em;
  }
}

.social_contact{
  .fb{
    float:left;
    max-width:48%;
  }
  .twitter{
    float:right;
    max-width:48%;
  }
}
.ui-effects-transfer {
  border: 3px dotted @blueDark;
  z-index:2500;
  background:@blueDark;
  background-color:rgba(red(@blueDark), green(@blueDark), blue(@blueDark), .6);
}

.ui-sortable-helper{
  cursor:pointer;
}
.ui-state-highlight{
  border: 3px dotted @blueDark;
  background:@blueDark;
  background-color:rgba(red(@blueDark), green(@blueDark), blue(@blueDark), .9);
  background-image:none;
}

.ui-datepicker-inline{
  border:none;
  background:none;
  color:@white;
  .ui-datepicker-header{
    background:none;
    border:none;
  }
  .ui-state-default{
    background:none;
    border:none;
    color:@white;
  }
  .ui-datepicker-buttonpane{
    display:none;
  }
  .ui-datepicker-prev .ui-icon{
    background:url('img/button_calendar_prev.png');
  }
  .ui-datepicker-prev .ui-icon:hover{
    background:none;
  }
}

.ticket{
  width:75%;
  .box-sizing(border-box);
   float:left;
   clear:none;
   padding:2em 0;
   .ticket_title{
     height:300px;
     max-width:15%;
     float:left;
     background:@white;
     padding:0 1.5em;
     img{
       margin:70px 0;
     }
   }
   .ticket_content{
     background:@white;
     float:left;
     height:274px;
     padding:10px;
     width:85%;
     -moz-border-image-slice: 7;
      -webkit-border-image-slice: 7;
      border-image-slice: 7;
      -moz-border-image-width: 0px 0x 0px 7px;
      -webkit-border-image-width: 0px 0 0px 7px;
      border-image-width: 0px 0 0px 7px;
      -moz-border-image-outset:0px 3px 0px 4px;
      -webkit-border-image-outset: 0px 3px 0px 4px;
      border-image-outset: 0px 3px 0px 4px;
      -moz-border-image-repeat: stretch repeat;
      -webkit-border-image-repeat: stretch repeat;
      border-image-repeat: stretch repeat;
      -moz-border-image-source: url(img/alacarte_your_show_border.png);
      -webkit-border-image-source: url(img/alacarte_your_show_border.png);
      -o-border-image-source: url(img/alacarte_your_show_border.png);
      border-image-source: url(img/alacarte_your_show_border.png);
      .place,.show_infos{
        table-layout:fixed;
        max-width:100%;
        .toresize{
          display:block;
        }
        .title_value{
          font-size:1.3em;
          font-weight:bold;
          line-height:.9;
          small{
            font-size:60%;
            font-weight:normal;
          }
          a{
            display:none;
            color:@blueDark;
            text-decoration:underline;
          }
        }
        .show_date_label:hover{
          a{
            display:block;
          }
        }
        .value{
          font-weight:bold;
          font-size:2.8em;
          line-height:.8em;
          text-transform:uppercase;
          white-space: nowrap;
          text-overflow:ellipsis;
          box-sizing: border-box;
          overflow:hidden;
        }
        .show_info{
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding-right:10px;
          vertical-align:top;
        }
        .show_info:last-child{
          padding-right:0;
        }
      }
      .place{
        margin-top:10px;
      }
      .price_infos{
        font-weight:normal;
      }
      .ticket_chapters{
        margin-top:20px;
        padding-top:20px;
        border-top:1px solid @blueDark;
        clear:both;
        font-weight:bold;
        .price_infos{
          margin-top:-35px;
          float:right;
          background:@white;
          margin-right:10px;
          padding:0 10px;
        }
        .title_value{
          width:20%;
          float:left;
        }
        ul{
          margin-left:0;
          float:left;
          width:40%;
          font-size:1.3em;
          li{
            margin-left:10px;
          }
        }
      }
   }
   .ticket_chapters{
     ul{
       list-style-type:none;
     }
   }
}

@keyframes blink {  
    0% { color: @green;background-image:none; }
    100% { color: @white;background-image:url('img/border-dotted_timeline.png'); }
}
@-webkit-keyframes blink {
    0% { color: @green;background-image:none; }
    100% { color: @white;background-image:url('img/border-dotted_timeline.png'); }
}

@keyframes blinktext {
    0% { color: transparent; }
    80% { color: @white; }
}
@-webkit-keyframes blinktext {
    0% { color: transparent; }
    80% { color: @white; }
}

.page_order{
  .ticket_container{
    background:@green;
    overflow:hidden;
    margin:1em -4em;
    padding:0 2em;
    .ticket{
      width:auto;
      .ticket_content{
        .value{
          font-size:2.4em;
        }
      }
    }
  }
  
}

#calendar{
  .calendar-container{
    height:auto;
  }
  table{
    font-size:1em;
    thead{
      display:none;
    }
    td a{
      background:none;
      border:none;
      color:@white;
      text-align:center;
      font-size:1.4em;
    }
  } 
  .ui-widget{
    font-family:inherit;
    .ui-datepicker-title{
      margin:0 1.8em;
      border:2px solid @white;
      .box-sizing(border-box);
      line-height:inherit;
      height:1.8em;
      input, select, textarea, button{
        height:auto;
        margin:0;
        line-height:inherit;
        font-family:inherit;
        background:none;
        border:none;
        color:@white;
      }
    }
    .ui-datepicker-header{
      padding:0;
      .ui-datepicker-prev,.ui-datepicker-next{
        top:0;
        border:2px solid @white;
        .border-radius(0);
        .box-sizing(border-box);
      }
      .ui-icon{
        height:18px;
      }
      .ui-datepicker-prev{
        border-right:0;
      }
      .ui-datepicker-next{
        border-left:0;
      }
      .ui-datepicker-prev .ui-icon{
        background-image:url('img/button_calendar_prev.png');
        background-repeat:no-repeat;
      }
      .ui-datepicker-next .ui-icon{
        background-image:url('img/button_calendar_next.png');
        background-repeat:no-repeat;
      }
      .ui-datepicker-next.ui-state-hover,.ui-datepicker-prev.ui-state-hover{
        background:none;
      }
    }
    .ui-state-active{
      background:@white;
      color:@green;
    }
  }
}
.spip-admin-float{
  left:10%;
  a:hover{
    background-color:#666;
  }
}

.main .thumbnails{
  margin:0;
}
.thumbnails{
  li{
    .thumbnail{
      padding:0;
      border:1px solid @green;
      .border-radius(0);
      img{
        width:100%;
        max-width:100%;
      }
      h3,p{
        padding-right:20px;
        padding-left:20px;
      }
      h3{
        margin-top:.5em;
        color:@green;
      }
    }
  }
  li:nth-child(3n+1){
    clear:both;
  }
}
@media (min-width: 1200px){
  .rubrique_blog{
    .content{
      .span6{
        width:585px;
      }
    }
  }
}
@media (max-width: 1199px){
  .hero-unit{
    font-size:2em;
  }
  #timeline{
    .timeline_video{
      .timeline_content{
        .timeline_bottom{
          .timeline_menu{
            .timeline_menu_item{
              font-size:.9em;
              .numero{
                margin-right:.2em;
              }
            }
          }
        }
      }
    }
  }
}
